*{
    padding: 0;
    margin: 10;
}

.head h3{
    padding-top: 40px;
    text-align: center;
}
.head P{
    text-align: center;
}  

table, th, td{
    width: 800px;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse;
}

.tue{
    padding-top: 40px;
}

.tue p{
    text-align: center;
}

.wed{
    padding-top: 40px;
}

.wed P{
    text-align: center;
}

.thur{
    padding-top: 40px;
}

.thur P{
    text-align: center;
}

.fri{
    padding-top: 40px;
}

.fri P{
    text-align: center;
}